
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/liste-signalements"></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Formulaire de Signalement de Panne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Date panne</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="datePanne"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">selectionez client </ion-label>
      <ion-select formControlName="clientName">
        <ion-select-option *ngFor="let client of clients" [value]="client.id">{{ client.nom }} {{ client.prenom }}</ion-select-option>
      </ion-select>
      <ion-button (click)="addNewClient()">Ajouter un nouveau client</ion-button>
    </ion-item>
      <ion-item>
        <ion-label position="stacked">Numéro de série du produit</ion-label>
        <ion-input type="text" formControlName="numSerie"></ion-input>
        <ion-button (click)="scanCode()">Scanner le code</ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nom du produit en panne</ion-label>
        <ion-input type="text" formControlName="nomProduit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Type de panne</ion-label>
        <ion-select formControlName="typePanne" multiple>
          <ion-select-option *ngFor="let type of typesPanne" [value]="type.value">{{ type.label }}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>Etat de panne</ion-label>
        <ion-radio-group formControlName="etatPanne">
          <ion-item>
            <ion-label>Oui</ion-label>
            <ion-radio value="oui"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Non</ion-label>
            <ion-radio value="non"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>En cours</ion-label>
            <ion-radio value="encours"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      
    
      
      <ion-item>
        <ion-label position="stacked">Observations</ion-label>
        <ion-textarea formControlName="observations"></ion-textarea>
      </ion-item>
      <ion-item>
    
        <ion-button (click)="submitForm()"
        expand="full"
        fill="outline"
        size="large"
        shape="round">
        Enregistrer
    </ion-button>

      </ion-item>
    </ion-list>
  

    




</ion-content>
